%div.navbar-dark a
  margin: 0


.white-text
  color: white

.dropdown-menu.show li 
  padding: 0px

.nav li 
  padding: 0px 50px

.room
  text-align: center

.form-control
  resize: none
  display: inline-block!important
.user-room a
  color: black

.user-room a:hover
  color: black

.rooms .me
  color: blue
  float: right
  text-align: end

.rooms .friend
  color: green

.rooms li 
  list-style: none
#message_content 
    width: 75%
    resize: none
    height: 74px
.logo 
  max-width: 15%

  